.Form {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
  margin-top: 40px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
  }

  .FormControl {
    position: relative;
    margin: 10px 0 20px;
    width: 300px;

    input {
      background-color: transparent;
      border: 0;
      border-bottom: 2px #fff solid;
      display: block;
      width: 100%;
      padding: 15px 0 8px 0;
      font-size: 16px;
      color: #fff;
      outline: 0;
    }

    input:focus + label,
    input:valid + label {
      transform: translateY(-15px);
      transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      font-size: 11px;
    }

    span {
      font-size: 11px;
      position: absolute;
      bottom: -20px;
      right: 0;
    }

    label {
      position: absolute;
      top: 15px;
      left: 0;
    }
  }
  button {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: lightblue;
    padding: 15px;
    font-size: 16px;
    font-family: inherit;
    border: 0;
    border-radius: 5px;
    margin-top: 0px;
  }

  button:active {
    transform: scale(0.98);
  }
  button:disabled {
    background-color: lightgray;
  }

  button:focus,
  input:focus {
    outline: 0;
  }
}
